@import "mixins";

.vc-container {
    padding: 6px 12px;
    border: 0 !important;
}

// .vc-pane {
//     border: 1px solid $grey-lighter;
// }

.vc-title {
    pointer-events: none;
    @include font(16px, $dark !important, $bold) ;
}

.vc-weekday {
    @include font(14px, $grey-dark !important, $semibold) ;
}

.vc-day-content {
    &.vc-text-gray-400 {
        font-weight: $regular;
        pointer-events: none;
    }
    &:not(.vc-text-gray-400) {
        border: 1px solid $grey-lighter;
        margin: 0;
        color: $grey-darker;
        font-weight: $semibold;
        &:hover {
            background-color: $light !important;
            color: $primary;
            border-color: $primary;
        }
        &.vc-text-white {
            background-color: $primary !important;
            color: white !important;
            border-color: $primary;
        }
    }
}