@import "variables";

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
  >* {
    align-self: flex-start;
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
  >* {
    align-self: center;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  >* {
    align-self: center;
  }
}

@mixin font($size: false, $colour: false, $weight: false,  $lh: false) {
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin placeholder {
  &.placeholder { @content; }
  &::placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin on-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin on-nonlarge {
  @media only screen and (max-width: 1199.98px) {
    @content;
  }
}

@mixin on-desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin on-nonmobile {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin on-tablet {
  @media only screen and (max-width: 991.98px) and (min-width: 576px) {
    @content;
  }
}

@mixin on-touch {
  @media only screen and (max-width: 991.98px) {
    @content;
  }
}

@mixin on-mobile {
  @media only screen and (max-width: 575.98px) {
    @content;
  }
}


@mixin v-scrollbar($width: 4px) { 
  overflow-y: auto;
  background: $primary;
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $accent;
    border-radius: 3px;
  }
}
@mixin h-scrollbar($height: 4px) { 
  overflow-y: auto;
  &::-webkit-scrollbar {
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-mild;
    border-radius: 1px;
  }
}

@mixin truncate-text($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

@mixin border-radius {
  border-radius: $border-radius;
}

@mixin box($w, $h: 0) {
  @if $h > 0 {
    width: $w;
    height: $h;
  } @else {
    width: $w;
    height: $w;
  }
}

@mixin has-booking-width {
    width: $booking-width;
    @include on-mobile {
      width: $booking-mobile-width;
    }
  }