@import "mixins";

.modal-backdrop {
    background: rgba(0, 0, 0, 0.32);
    // animation: emerge 0.15s ease-in-out;
}
.modal-header {
    @include flex-align-center;
    border-bottom-color: $grey-lighter;
    color: $grey-darker;
    padding: 8px 16px;
    .close {
        @include font(14px, $grey);
        @include box(32px, 28px);
        @include flex-center;
        cursor: pointer;
        margin: 0;
        background: 0;
        border: 0;
        transform: translate(4px);
        &:hover {
            color: $grey-dark;
        }
    }
}
.modal-dialog.modal-lg {
    max-width: 800px;
}
.modal-title {
    margin: 0;
}
.modal-content {
    border-color: $grey-lighter;
    @include on-mobile {
        bottom: 0;
        position: fixed;
    }
}
.modal-body {
    padding: 0;
    >* {
        @include v-scrollbar(6px);
    }
}
.modal-footer {
    border-top-color: $grey-lighter;
    @include on-mobile {
        margin-bottom: 40px;
        // border-bottom: 1px solid $grey-lightest;
    }
}
.confirm-dialog {
    .modal-title {
        font-weight: $semibold;
    }
    .modal-body {
        padding: 16px;
    }
    .btn-secondary {
        @extend .btn-default;
    }
}
@include on-nonmobile {
    .modal {
        display: flex !important;
        @include flex-center;
    }
    .modal-dialog {
        margin-bottom: 40px;
        width: auto;
        animation: scaleUp 0.2s ease-in-out;
    }
    .modal-content {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        @include border-radius;
    }
}

@include on-mobile {
    .modal {
        display: flex !important;
        align-items: flex-end;
        padding: 0;
    }
    .modal-dialog {
        margin: 0;
        border: 0;
        width: 100vw;
    }
    .modal-content {        
        animation: slideFromBottom 0.2s ease-in-out;
    }
    .modal-content {
        box-shadow: 0 -4px 11px -4px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        border-radius: 0;
    }
}