@import "mixins";

// custom utilities class

.flex-align-start {
    @include flex-align-start;
}

.flex-align-center {
    @include flex-align-center;
}

.flex-center {
    @include flex-center;
}

.is-dashed {
    border-style: dashed !important;
}

.is-round {
    border-radius: 50px !important;
}

.is-border {
    border-radius: $border-radius !important;
}

.page-title {
    @include font(32px, $grey-darkest, $semibold);
}

.content-title {
    @include font(16px, $grey-darker, $semibold);
}

.content-text {
    @include font(14px, $grey-darker, $regular);
}

.toast-danger {
    background-color: $danger !important;
}
.toast-success {
    background-color: $primary !important;
}
.toast-info {
    background-color: $info !important;
}
.toast-default {
    background-color: rgba($grey-darkest, 0.6) !important;
}

.has-loading-ellipsis {
    &::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 1.2s infinite;
        content: "\2026";
        width: 0px;
    }
      
    @keyframes ellipsis {
        to {
            width: 1.25em;    
        }
    }
}
  
.not-found {
    @include font(14px, $grey-dark, $semibold);
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}