<template>
  <div class="wrapper">
    <div class="description">
      <div class="header">
        <img src="beercap.png">
        <div class="header-text">Địa chỉ cửa hàng</div>
      </div>
      <nuxt-link class="close" to="/">X</nuxt-link>
      <div class="filter">
        <select v-model="province" @change="district = null; outlets = null">
          <option selected disabled value="null">Tỉnh/Thành phố</option>
          <option v-for="p in provinces" :key="p.name" :value="p">{{ p.name }}</option>
        </select>
        <select v-model="district" :disabled="!province">
          <option selected disabled value="null">Quận/Huyện</option>
          <option v-for="d in province?province.districts:[]" :key="d.name" :value="d">{{ d.name }}</option>
        </select>
      </div>
      <div class="text" v-if="!district">
        Vui lòng chọn Tỉnh Thành và Quận Huyện để xem địa chỉ các cửa hàng
      </div>
      <div class="beer-factories" v-if="district">
        <div class="beer-factory" v-for="outlet in district.outlets" :key="outlet.code">
          <img src="~assets/img/bottle.png">
          <div class="info">
            <div class="name">Tên Cửa hàng: {{outlet.name}}</div>
            <div class="content">Địa chỉ: {{outlet.address}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import outlets from "~/assets/json/outlets.json";

export default Vue.extend({
  layout: 'default',
  data: () => ({
    provinces: null,
    province: null,
    districts: null,
    district: null,
    outlets: null
  }),
  mounted() {
    let provinces = []
    for (let key of Object.keys(outlets)) {
      let outlet = outlets[key]
      let outletData = {
        code: outlet.c,
        name: outlet.n,
        address: outlet.a
      }
      let index = provinces.findIndex(x => x.name == outlet.p.trim())
      if (index >= 0) {
        let province = provinces[index]
        let districts = province.districts
        let dIndex = districts.findIndex(x => x.name == outlet.d.trim())
        if (dIndex >= 0) {
          districts[dIndex].outlets.push(outletData)
        } else {
          districts.push({
            name: outlet.d.trim(),
            outlets: [outletData]
          })
        }
      } else {
        provinces.push({
          name: outlet.p.trim(),
          districts: [{
            name: outlet.d.trim(),
            outlets: [outletData]
          }]
        })
      }
    }
    this.provinces = provinces
  }
})
</script>

<style lang="scss" scoped>
  .description {
    padding-top: 32px;
    margin-bottom: 80px;
    .filter {
      @include flex-align-center;
      margin-bottom: 24px;
      @include on-mobile {
        flex-direction: column;
      }
    }
    select {
      background: $accent;
      border: 2px solid $accent-light;
      border-radius: 4px;
      padding: 10px 20px 10px 12px;
      margin: 12px;
      width: 180px;
      @include font(16px, $grey-white, $bold);
      background-image: url(~assets/img/chevron-down.png);
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: right 8px top 50%;
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;
    }
    
    select::-ms-expand {
      display: none;
    }
  }
  .beer-factories {
    height: 50vh;
    @include v-scrollbar(4px);
  }
  .beer-factory {
    margin-bottom: 32px;
    @include flex-align-start;
    align-items: baseline;
    img {
      object-fit: contain;
      width: 16px;
    }
    .info {
      padding-left: 12px;
      text-align: left;
      .name {
        @include font(14px, $grey-white, $bold);
        margin-bottom: 12px;
      }
      .content {
        @include font(14px, $grey-lighter);
      }
    }
  }
  .text {
    padding: 0 12px;
  }
</style>