<template>
  <div class="wrapper">
    <!-- <img class="buy-image" src="~assets/img/buy-1.png"> -->
    <div class="description">
      <p>
        Khi đương đầu với thử thách phía trước, hãy để Tiger cùng bạn giữ vững bản lĩnh và dũng mãnh vượt qua. 
        Đến ngay các cửa hàng có băng rôn chương trình <b class="accent-light">“Bật Tiger, Khui Bản Lĩnh – Dũng Mãnh Đương Đầu”</b> 
        để nhận phiếu quà tặng trị giá đến <b class="accent-light">40.000VND</b> khi <b class="accent-light">MUA TỪ O1 THÙNG TIGER HOẶC TIGER CRYSTAL.</b>
      </p>
    </div>
    <div class="inline-flex">      
      <nuxt-link to="share">
        <button class="btn-main btn-share">
          <img src="~assets/img/share.png">
          <span>Chia sẻ ngay</span>
        </button>
      </nuxt-link>
    </div>
    <!-- <img class="hashtag-image" src="~assets/img/hashtag.png"> -->
    <!-- <div class="hashtag">
      <span>#Tigerbeer</span><span>#RBVN</span><span>#rinhbiavenha</span><span>#dungmanhduongdau</span>  
    </div> -->
    <div class="buttons-wrapper">
      <nuxt-link to="rules">
        <button class="btn-main">
          <img src="beercap.png">
          <span>Thể lệ</span>
        </button>
      </nuxt-link>
      <nuxt-link to="address">
        <button class="btn-main">
          <img src="beercap.png">
          <span>Cửa hàng</span>
        </button>
      </nuxt-link>
      <button class="btn-main btn-video" @click="showVideo = true">
        <img src="beercap.png">
        <span>Hướng dẫn</span>
      </button>
    </div>
    <div class="overlay" v-if="showVideo" @click="showVideo = false">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g4dicturYTE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/g4dicturYTE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
declare const McomTracking;
export default Vue.extend({
  layout: "default",
  data: () => ({
    showVideo: false,
  }),
  created() {
    const encryptedPhone = this.$route.query["p"] as string;
    const encryptedSource = this.$route.query["source"] as string;
    if (encryptedPhone) {
      sessionStorage.setItem("encryptedPhone", encryptedPhone);
      tracking("SMS", encryptedPhone);
    }
    // else {
    //   sessionStorage.removeItem("encryptedPhone");
    // }
    if (encryptedSource) {
      tracking("SOCIAL", encryptedSource);
    }
  },
});
function tracking(action: string, encrypt: string) {
  fetch("https://sapi.mcom.app/api/rinhbiavenha.vn/tracking", {
    method: "post",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      fingering: McomTracking.fingerprint,
      row: [new Date().toLocaleString(), encrypt, action],
    }),
  }).catch((err) => {});
}
</script>

<style lang="scss" scoped>
  .description {
    padding: 24px 28px 40px;
    p {
      font-size: 18px;
      line-height: 30px;
    }
    // b {
    //   color: $accent-dark;
    // }
    .accent-light {
      color: $accent-light;
      text-shadow: 0 0 12px $accent, 0 0 16px $accent;
    }
  }
  .btn-share {
    padding: 10px 24px;
    margin: -20px 0 40px;
    z-index: 10;
    position: relative;
    transform: scale(1.2);
  }
  .hashtag {
    @include font(15px, $accent);
    width: 92%;
    display: inline-flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    span {
      padding: 4px 6px;
    }
  }
  .buy-image {
    width: 100%;
    max-width: 600px;
  }
  .hashtag-image {
    width: 100%;
    max-width: 500px;
  }
  .inline-flex {
    display: inline-flex;
    flex: 0 0 auto;
  }
  .buttons-wrapper {
    display: inline-flex;
    flex: 0 0 auto;
    @include flex-center;
    >* {
      flex: 0 0 auto;
    }
    .btn-main {
      padding: 10px 20px;
      padding-left: 40px;
      position: relative;
      margin: 24px;
      width: 180px;
      white-space: nowrap;
      img {
        position: absolute;
        left: -20px;
        top: -10px;
        width: 60px;
        height: auto;
        object-fit: contain;
      }
      @include on-touch {
        &.btn-video {
          display: none;
        }
      }
      @include on-mobile {
        width: auto;
        margin-right: 0;
      }
    }
  }
  .overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
  }
  .video {
    @include on-desktop {
      display: none;
    }
    @include on-touch {
      flex: 0 0 315px;
      box-sizing: content-box;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 94%;
    }
  }
</style>