<template>
  <div class="wrapper">
    <div class="description">
      <div class="header">
        <img src="beercap.png">
        <div class="header-text">Thể lệ chương trình</div>
      </div>
      <nuxt-link class="close" to="/">X</nuxt-link>
      <p>
        Mua từ 01 thùng bất kỳ bia <b class="accent">Tiger</b> hoặc <b class="accent">Tiger Crystal</b> nhận ngay phiếu quà tặng 
        <b class="accent">40.000 VND</b>.
        <br>
        <br>
        - Soạn tin nhắn: <b>TIGER [mã nhận thưởng dưới lớp bạc]</b> gửi đến <b>6020</b> 
        để nhận ngay <b class="accent">20.000 VND</b> vào tài khoản điện thoại.
        <br>
        <br>
        - Nhận thêm <b class="accent">20.000 VND</b> vào tài khoản điện thoại.
        <br>
        <b>Bước 1:</b> Truy cập đường dẫn từ tin nhắn tổng đài <b>6020</b> hoặc quyét mã QR để vào trang chủ chương trình.
        <br>
        <b>Bước 2:</b> Chọn chia sẻ thông tin chương trình trên tài khoản Facebook / Zalo ở trạng thái công khai.
        <br>
        <br>
        <b>Lưu ý:</b>
        <br>
        - 1 số điện thoại được tham gia tối đa 5 lần
        <br>
        - 1 tài khoản mạng xã hội chỉ được tham gia hoạt động chia sẻ 
        bài viết 1 lần duy nhất. 
        <br>
        - Phiếu không được hoàn tiền hoặc quy đổi thành tiền mặt.
        <br>
        - Thời hạn đổi thưởng từ ngày 15/09/2020 đến ngày 31/10/2020.
        <br>
        - Chương trình có thể kết thúc trước thời hạn khi hết phiếu quà tặng.
        <br>
        - Mọi thắc mắc xin liên hệ: <b>19006448</b> (cước phí 1000 vnđ/1 phút).
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  layout: 'default',
  data: () => ({
    showVideo: false
  })
})
</script>

<style lang="scss" scoped>
  .description {
    padding-top: 48px;
    margin-bottom: 80px;
    p a {
      color: white;
      text-decoration: underline;
    }
  }
</style>