<template>
  <div id="wrap">
    <div id="viewport">
    </div>
  </div>
</template>

<script lang="ts">
declare var $: any
import Vue from 'vue'
export default Vue.extend({
  created() {
      $(function() {
        "use strict";
        var a = 0;
        for (; a < 25; a += 1) {
          setTimeout(function b() {
            var a = Math.random() * 1e3 + 5e3,
              c = $("<div />", {
                "class": "smoke",
                css: {
                  left: Math.random() * 800,
                  width: Math.random() * 800,
                  height: Math.random() * 600
                }
              });
            $(c).addClass("animated");
            $(c).addClass("zoomIn");
            $(c).addClass("rollOut");
            $(c).appendTo("#viewport");
            $.when($(c).animate({}, {
                duration: a / 4,
                easing: "linear",
                queue: false,
                complete: function() {
                  $(c).animate({}, {
                    duration: a / 3,
                    easing: "linear",
                    queue: false
                  })
                }
              }),
              $(c).animate({
                bottom: $("#viewport").height()
              }, {
                duration: a,
                easing: "linear",
                queue: false
              })).then(
              function() {
                $(c).remove();
                b()
              })
          }, Math.random() * 3e3 / 20)
        }
      }())
  }

})
</script>

<style lang="scss">
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

#start {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  margin-top: 260px;
  width: 100%;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

a {
  color: #fff;
  text-decoration: none
}

#wrap {
  pointer-events: none;
  margin: 0 auto;
  width: 100vw;
  height: auto;
  position: absolute;
}

#viewport {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden; 
  .smoke {
    position: absolute;
    width: 250px;
    height: 250px;
    background: url(~assets/img/smoke.png) no-repeat;
    background-size: contain;
    bottom: 150px;
    margin-left: 0px
  }
}

@keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

</style>