<template>
  <div id="layout" class="layout">
    <!-- <img class="logo-image" src="~assets/img/logo.png"> -->
    <section class="image-section" :style="!isOver18?{ visibility: 'hidden', flex: '0 0 20vh' }:{}">
      <img class="beer-image" src="~assets/img/beer.png">
      <img class="voucher-image" src="~assets/img/voucher-40.png">
      <Smoke/>
      <!-- <img class="title-image d-nonlarge" :style="{ opacity: isOver18?1:0 }" src="~assets/img/title.png"> -->
    </section>
    <section class="content-section">
      <div class="description" v-if="!hasConfirm18 || !isOver18">
        <template v-if="!hasConfirm18">
          <div class="title">TIGER CAM KẾT UỐNG CÓ TRÁCH NHIỆM</div>
          <div class="note">Vui lòng xác nhận "Bạn đã đủ 18 tuổi" - Độ tuổi uống rượu bia hợp pháp - Để xem được nội dung trang này</div>
          <button class="btn-age confirm" @click="confirmOver18(true)">Tôi đã đủ 18 tuổi</button>
          <button class="btn-age" @click="confirmOver18(false)">Tôi chưa đủ 18 tuổi</button>
        </template>
        <template v-if="hasConfirm18">
          <div class="danger">
            Xin lỗi vì sự bất tiện này.
            <br>
            Vui lòng quay lại Website của chúng tôi khi bạn đã đủ 18 tuổi.
          </div>
        </template>
      </div>
      <template v-if="hasConfirm18 && isOver18">
        <img class="title-image" src="~assets/img/title.png">
        <Nuxt />
      </template>
    </section>
    <!-- <section class="rule-footer" v-if="isOver18 && isIndex">
      <img class="rule-xs d-mobile" src="~assets/img/rule-xs.png">
      <img class="rule-sm d-tablet" src="~assets/img/rule-sm.png">
      <img class="rule-md d-medium" src="~assets/img/rule-md.png">
      <img class="rule-lg d-large" src="~assets/img/rule-lg.png">
    </section> -->
    <ul class="footer" v-if="isOver18">
      <li>Chương trình từ ngày: <b>15/09/2020 – 31/10/2020.</b></li>
      <li>Chương trình chỉ dành cho người từ 18 tuổi trở lên.</li>
      <li>Chương trình có thể kết thúc sớm hơn thời hạn khi hết phiếu quà tặng.</li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "DefaultLayout",
  data: () => ({
    hasConfirm18: false,
    isOver18: false,
    isIndex: false
  }),
  components: {
    Smoke: () => import('~/components/Smoke.vue')
  },
  watch:{
    $route (to, from){
      if (process.client) {
        document.getElementById('layout').scrollTo(0, 0)
      }
      // this.checkRoute(to.path)
    }
  },
  // mounted() {
  //   this.checkRoute(this.$route.path)
  // },
  methods: {
    confirmOver18(isOver18: boolean) {
      this.hasConfirm18 = true
      this.isOver18 = isOver18
    },
    // checkRoute(route) {      
    //   if (route == '/') {
    //     this.isIndex = true
    //   } else {
    //     this.isIndex = false
    //   }
    // },
  }
});
</script>

<style lang="scss" scoped>
  .layout {
    background-image: url(~assets/img/background.jpg);
    @include on-nonlarge {
      background-image: url(~assets/img/background-mobile.jpg);
    }
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    @include on-nonlarge {
      flex-direction: column;
      height: auto;
      overflow-x: hidden;
    }
  }
  .image-section {
    position: relative;
    @include on-large {
      flex: 0 0 33%;
    }
    @include on-nonlarge {
      flex: 0 0 55vh;
    }
    @include on-tablet {
      flex: 0 0 50vh;
    }
    @include on-mobile {
      flex: 0 0 40vh;
    }
  }
  .content-section {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      padding-bottom: 80px;
    @include on-large {
      padding-top: 40px;
      padding-left: 80px;
    }
    @include on-mobile {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .beer-image {
    position: absolute;
    left: 0;
    top: 25vh;
    width: 180%;
    max-width: 750px;
    height: auto;
    object-fit: contain;
    @include on-touch {
      width: 70%;
      top: 22vh;
    }
    @include on-mobile {
      position: absolute;
      width: 80%;
      top: 18vh;
      min-width: 300px;
    }
  }
  .voucher-image {
    position: absolute;
    left: 75%;
    top: 60px;
    transform-origin: center center;
    height: 150px;
    @include on-nonlarge {
      top: 40px;
      height: 130px;
      left: 50%;
    }
    @include on-mobile {
      top: 20px;
      height: 100px;
      left: 50%;
    }
  }
  .title-image {
    // width: 80%;
    // max-width: 550px;
    // flex: 0 0 auto;
    // align-self: flex-start;
    // @include on-nonlarge {
    //   position: absolute;
    //   top: 80px;
    //   right: 40px;
    //   width: 60%;
    //   align-self: flex-end;
    // }
    // @include on-mobile {
    //   position: absolute;
    //   top: 80px;
    //   right: 12px;
    //   width: 60%;
    //   align-self: flex-end;
    // }
    width: 80%;
    // margin-top: 120px;
    max-width: 550px;
    @include on-nonlarge {
      width: 86%;
      margin-top: 150px;
    }
    @include on-tablet {
      width: 86%;
      margin-top: 80px;
    }
    @include on-mobile {
      width: 86%;
      margin-top: 30px;
    }

  }
  .logo-image {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 150px;
    @include on-nonlarge {
      width: 75px
    }
    @include on-mobile {
      width: 60px
    }
  }
  .footer {
    z-index: 10;
    padding-left: 8px;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: lighten($accent, 5%);
    @include font(13px, $grey-lighter);
    box-shadow: 0 -2px 3px 2px rgba(0, 0, 0, 0.12);
    li {
      padding: 8px;
      padding-left: 0;
    }
    @include on-touch {
      padding-left: 20px;
      font-size: 13px;
    }
    @include on-mobile {
      display: block;
      padding: 6px;
      padding-left: 28px;
      font-size: 12px;
      li {
        padding: 2px;
        padding-left: 0;
      }
    }
  }
.description {
  padding-bottom: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  * {
    animation: slideUp 0.3s ease-in-out;
  }
  .title {
    @include font(20px, $grey-white, $bold);
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    max-width: 450px;
  }
  .danger {
    @include font(18px, $grey-white, $bold);
    text-align: center;
    text-transform: uppercase;
    max-width: 450px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding-top: 40px;
    margin: auto;
    @include on-mobile {
      font-size: 16px;
    }
  }
  .note {
    max-width: 450px;
    text-align: center;
  }
  .btn-age {
    height: auto;
    min-height: 48px;
    border: 1.5px solid $grey-lighter;
    background: transparent;
    color: $grey-lighter;
    cursor: pointer;
    @include font(18px, $grey-light, $bold);
    padding: 12px;
    width: 250px;
    text-transform: uppercase;
    margin-top: 24px;
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: $grey-white;
      border-color: $grey-white;
    }
    &.confirm {
      padding: 16px;
      background: $accent;
      color: white;
      &:hover {
        background: $accent-dark;
      }
    }
  }
}

// .rule-footer {
//   background-image: url(~assets/img/blue.png);
//   width: 100vw; 
//   background-repeat: no-repeat;
//   background-position: top center;
//   margin-top: 40px;
//   height: 340px;
//   @include flex-center;
//   @include on-desktop {
//     background-size: 150% 100%;
//     height: auto;
//   }
//   img {
//     width: 96%;
//     max-height: 100%;
//     object-fit: contain;
//     &.rule-lg {
//       max-width: 1200px;
//       margin-top: 80px;
//     }
//     &.rule-md {
//       max-width: 850px;
//       margin-top: 40px;
//     }
//     &.rule-sm {
//       max-width: 650px;
//       margin-top: 20px;
//     }
//     &.rule-xs {
//       max-height: 225px;
//       margin-top: -16px;
//     }
//   }
// }

.d-desktop {
  display: none;
  @include on-desktop {
    display: block;
  }
}

.d-touch {
  display: none;
  @include on-touch {
    display: block;
  }
}

.d-tablet {
  display: none;
  @include on-tablet {
    display: block;
  }
}


.d-mobile {
  display: none;
  @include on-mobile {
    display: block;
  }
}

.d-nonlarge {
  display: none;
  @include on-nonlarge {
    display: block;
  }
}


.d-medium {
  display: none;
  @media only screen and (min-width: 992px) and (max-width: 1299.99px) {
    display: block;
  }
}       

.d-large {
  display: none;
  @media only screen and (min-width: 1300px) {
    display: block;
  }
}       
 


 

</style>
